<div class="container-fluid my-5">
   <h1 class="text-center mb-4 fw-bolder"><u>Applications for Loan</u></h1>
 
   <span><button type="button" class="btn btn-danger fw-bolder ms-auto mb-3 d-block px-5"
       (click)="back()">Back</button></span>
 
   <table class="table stripe">
     <tr style="background-color: rgb(57, 176, 81);">
       <th class="fw-bolder">NID No.</th>
       <th>Loan type</th>
       <th>Name</th>
       <th>Gender</th>
       <th>Mobile</th>
       <th>Email</th>
       <th>Address</th>
       <th>Date</th>
       <th>Marital Status</th>
       <th>Occupation</th>
       <th>Loan amount(tk)</th>
       <th>Duration(years)</th>
       <th>Application</th>
     </tr>
 
     <tr *ngFor="let i of getAllData" style="background-color: rgb(229, 238, 150);">
       <td>{{i.nid}}</td>
       <td>{{i.loantype}}</td>
       <td>{{i.name}}</td>
       <td>{{i.gender}}</td>
       <td>{{i.mobile}}</td>
       <td>{{i.email}}</td>
       <td>{{i.address}}</td>
       <td>{{i.date}}</td>
       <td>{{i.mar_status}}</td>
       <td>{{i.occupation}}</td>
       <td>{{i.amount}}</td>
       <td>{{i.duration}}</td>
       <td>
         <button type="button" class="btn btn-outline-success fw-bolder"
           (click)="search(i.nid)"><small>Approve</small></button>
 
         <button type="button" class="btn btn-outline-danger fw-bolder ms-1"
           (click)="delete(i.nid)"><small>Reject</small></button>
       </td>
 
     </tr>
   </table>
 </div>
 <!-- (click)="reject(i.nid)" -->
