<div class="row">
   <div class="col-md-3">
 
   </div>
 
   <div class="col-md-6">
     <div class="container my-5">
       <h1 class="text-center fw-bolder">Create Account</h1><br>
 
       <form (ngSubmit)="create()" autocomplete="on">
         <div class="bg-warning-subtle p-3 rounded">

          <div class="mb-3">
            <label for="id" class="form-label fw-bolder">Id</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="id" disabled autocomplete="on">
          </div>
 
           <div class="mb-3">
             <label for="a_number" class="form-label fw-bolder">Account Number</label>
             <input type="text" class="form-control" id="a_number" name="a_number" [(ngModel)]="a_number">
           </div>
 
           <div class="mb-3">
             <label for="password" class="form-label fw-bolder">Password</label>
             <input type="text" class="form-control" id="password" name="password" [(ngModel)]="password">
           </div>
 
           <div class="mb-3">
             <label for="nid" class="form-label fw-bolder">NID Number</label>
             <input type="text" class="form-control" id="nid" name="nid" [(ngModel)]="nid">
           </div>
 
           <div class="mb-3">
             <label for="acctype" class="form-label fw-bolder">Account Type </label>
             <input type="text" class="form-control" id="acctype" name="acctype" [(ngModel)]="acctype">
           </div>
 
           <div class="mb-3">
             <label for="name" class="form-label fw-bolder">Name</label>
             <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name">
           </div>
 
           <div class="mb-3">
             <label for="gender" class="form-label fw-bolder">Gender</label>
             <input type="text" class="form-control" id="gender" name="gender" [(ngModel)]="gender">
           </div>
 
           <div class="mb-3">
             <label for="mobile" class="form-label fw-bolder">Mobile</label>
             <input type="text" class="form-control" id="mobile" name="mobile" [(ngModel)]="mobile">
           </div>
 
           <div class="mb-3">
             <label for="email" class="form-label fw-bolder">Email</label>
             <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email">
           </div>
 
           <div class="mb-3">
             <label for="address" class="form-label fw-bolder">Address</label>
             <input type="text" class="form-control" id="address" name="address" [(ngModel)]="address">
           </div>
 
           <div class="mb-3">
             <label for="date" class="form-label fw-bolder">Date</label>
             <input type="text" class="form-control" id="date" name="date" [(ngModel)]="date">
           </div>
 
           <div class="mb-3">
             <label for="mar_status" class="form-label">Marital Status</label>
             <input type="text" class="form-control" id="mar_status" name="mar_status" [(ngModel)]="mar_status">
           </div>
 
           <div class="mb-3">
             <label for="occupation" class="form-label fw-bolder">Occupation</label>
             <input type="text" class="form-control" id="occupation" name="occupation" [(ngModel)]="occupation">
           </div>
 
           <div class="mb-3">
             <label for="balance" class="form-label fw-bolder">Account Balance</label>
             <input type="text" class="form-control" id="balance" name="balance" [(ngModel)]="balance">
           </div>
 
         </div>
         <button type="submit" class="btn btn-outline-success fw-bolder mt-3 d-block m-auto px-5"
           >Create</button>
       </form>
 
     </div>
   </div>
 
   <div class="col-md-3">
 
   </div>
 </div>
