<div class="container-fluid mt-2">
   <h3 class="fw-bolder"><u>Services</u></h3>
   <ul class="nav flex-column">
     <li class="nav-item">
       <a class="nav-link text-dark" routerLink="/home"><i class="fa-sharp fa-solid fa-house me-2"></i>Home</a>
     </li>
 
     <!-- <li class="nav-item">
       <a class="nav-link text-dark"> <i class="fa-solid fa-address-card me-2"></i>About Us</a>
     </li> -->
 
     <li class="nav-item">
       <a class="nav-link text-dark" routerLink="/showapplyforaccount"><i
           class="bi bi-arrow-right-circle-fill me-2"></i>Account approval</a>
     </li>
 
     <li class="nav-item">
       <a class="nav-link text-dark" routerLink="/showAllUser"><i
           class="bi bi-arrow-right-circle-fill me-2"></i>Users Accounts</a>
     </li>
 
     <li class="nav-item">
       <a class="nav-link text-dark" routerLink="/search"><i class="bi bi-arrow-right-circle-fill me-2"></i>User
         details</a>
     </li>
 
     <li class="nav-item">
       <a class="nav-link text-dark" routerLink="/deposit"><i class="bi bi-arrow-right-circle-fill me-2"></i>Deposit</a>
     </li>
 
     <li class="nav-item">
       <a class="nav-link text-dark" routerLink="/showapplyforloan"><i
           class="bi bi-arrow-right-circle-fill me-2"></i>Loan
         approval</a>
     </li>
 
     <li class="nav-item">
       <a class="nav-link text-dark" routerLink="/showloanaccounts"><i
           class="bi bi-arrow-right-circle-fill me-2"></i>Loan
         Accounts</a>
     </li>
 
     <li class="nav-item">
       <a class="nav-link text-dark" routerLink="/payinstallment"><i class="bi bi-arrow-right-circle-fill me-2"></i>Pay
         Installment</a>
     </li>
 
     <li class="nav-item">
       <a class="nav-link text-dark" routerLink="/bankstatement"><i class="bi bi-arrow-right-circle-fill me-2"></i>Bank
         Statement</a>
     </li>
 
     <li class="nav-item">
       <a class="nav-link text-dark" routerLink="/searchstatement"><i class="bi bi-arrow-right-circle-fill me-2"></i>Loan
         Statement</a>
     </li>
 
     <li class="nav-item">
       <a class="nav-link text-dark" routerLink="/showtransaction"><i
           class="bi bi-arrow-right-circle-fill me-2"></i>View Transaction</a>
     </li>
 
     <li class="nav-item">
       <a class="nav-link text-dark" routerLink="/showloantransaction"><i
           class="bi bi-arrow-right-circle-fill me-2"></i>View Loan Transaction</a>
     </li>
 
     <li class="nav-item">
       <a class="nav-link text-dark" routerLink="/adminAccount"><i class="bi bi-arrow-right-circle-fill me-2"></i>View Admins
         Account</a>
     </li>
 
     <!-- <li class="nav-item">
       <a class="nav-link text-dark" routerLink="/"><i class="fa-sharp fa-solid fa-right-from-bracket me-2"></i>Log
         out</a>
     </li> -->
 
   </ul>
 
 </div>
