<div class="container-fluid mb-2 shadow">
   <app-header></app-header>
 </div>
 
 
 <div class="container-fluid" style="background-color: #409B6E;">
   <ul class="nav justify-content-center shadow">
     <li class="nav-item">
       <a class="nav-link fw-bolder text-light">About Us</a>
     </li>
 
     <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle fw-bolder text-light" role="button" data-bs-toggle="dropdown"
         aria-expanded="false">
         Services
       </a>
       <ul class="dropdown-menu">
         <li><a class="dropdown-item fw-bolder text-dark">Add Account</a></li>
         <li><a class="dropdown-item fw-bolder   text-dark">Payment</a></li>
 
         <!-- <li><a class="dropdown-item fw-bolder   text-dark">Deposit</a></li>
           <li><a class="dropdown-item fw-bolder   text-dark">Balance Checking</a></li>
           <li><a class="dropdown-item fw-bolder  text-dark">Balance Transfer</a></li>
           <li><a class="dropdown-item fw-bolder   text-dark">Transaction History</a></li>
           <li><a class="dropdown-item fw-bolder  text-dark">Account Statement</a></li> -->
 
       </ul>
     </li>
 
     <li class="nav-item">
       <a class="nav-link fw-bolder text-light">Career</a>
     </li>
 
     <li class="nav-item">
       <a class="nav-link fw-bolder text-light">Contact Us</a>
     </li>
 
   </ul>
 </div>
 
 <!-- ------------------------------ Marquee ---------------------------------- -->
 <div class="my-2 ">
 
   <marquee class="marq  fw-bolder text-danger h3 shadow-lg">The main objective of bank management is to build an 
    organic and optimal interaction system between the elements of banking mechanisms with a view to profit. 
    ▸iedunote.com/bank-management
   </marquee>
 
 </div>
 <!-- ------------------------------ Carousel -------------------------- -->
 <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
   <div class="carousel-inner">
     <div class="carousel-item active" data-bs-interval="3000">
       <img src="https://www.meghnabank.com.bd/public/images/688069_490656-1.webp" class="d-block w-100" alt="...">
     </div>
     <div class="carousel-item" data-bs-interval="3000">
       <img src="https://www.meghnabank.com.bd/public/images/641598_894094(1).webp" class="d-block w-100" alt="...">
     </div>
     <div class="carousel-item" data-bs-interval="3000">
       <img src="https://www.meghnabank.com.bd/public/images/989837_740524-1.webp" class="d-block w-100" alt="...">
     </div>
     <div class="carousel-item" data-bs-interval="3000">
       <img src="https://www.meghnabank.com.bd/public/images/584270_476677-1.webp" class="d-block w-100" alt="...">
     </div>
     <div class="carousel-item" data-bs-interval="3000">
       <img src="https://www.meghnabank.com.bd/public/images/137247_764527-1.webp" class="d-block w-100" alt="...">
     </div>
   </div>
   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Next</span>
   </button>
 </div>
