<div class="row">
   <div class="col-md-3">
 
   </div>
 
   <div class="col-md-6">
 
     <div class="container my-5">
       <h1 class="text-center fw-bolder">Admin Account Update</h1><br>
 
       <form (ngSubmit)="update()">
         <div class="p-3 rounded text-light" style="background-color: rgb(98, 154, 154);">
           <div class="mb-3">
             <label for="id" class="form-label fw-bolder">Id</label>
             <input type="text" class="form-control" id="id" name="id" [(ngModel)]="id">
           </div>
 
           <div class="mb-3">
             <label for="password" class="form-label fw-bolder">Password</label>
             <input type="text" class="form-control" id="password" name="password" [(ngModel)]="password">
           </div>
 
           <div class="mb-3">
             <label for="name" class="form-label fw-bolder">Name</label>
             <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name">
           </div>
 
           <div class="mb-3">
             <label for="gender" class="form-label fw-bolder">Gender</label>
             <input type="text" class="form-control" id="gender" name="gender" [(ngModel)]="gender">
           </div>
 
           <div class="mb-3">
             <label for="email" class="form-label fw-bolder">Email</label>
             <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email">
           </div>
 
           <div class="mb-3">
             <label for="phone" class="form-label fw-bolder">Phone</label>
             <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="phone">
           </div>
 
           <div class="mb-3">
             <label for="address" class="form-label fw-bolder">Address</label>
             <input type="text" class="form-control" id="address" name="address" [(ngModel)]="address">
           </div>
         </div>
         <button type="submit" class="btn btn-outline-primary fw-bolder mt-3 d-block m-auto px-5">Update</button>
       </form>
 
     </div>
 
   </div>
 
   <div class="col-md-3">
 
   </div>
 </div>
