<div class="container-fluid mt-2">
   <h3 class="fw-bolder"><u>Services</u></h3>
   <ul class="nav flex-column">
     <li class="nav-item">
       <a class="nav-link text-dark" routerLink="/home"><i class="fa-sharp fa-solid fa-house me-2"></i>Home</a>
     </li>
 
     <li class="nav-item">
       <a class="nav-link text-dark" routerLink="/userapplyaccount"><i class="bi bi-arrow-right-circle-fill me-2"></i>Apply for account</a>
     </li>
 
     <li class="nav-item">
       <a class="nav-link text-dark" routerLink="/applyforloan" ><i class="bi bi-arrow-right-circle-fill me-2"></i>Apply for loan</a>
     </li>
 
     <li class="nav-item">
       <a class="nav-link text-dark" routerLink="/checkbalance"><i class="bi bi-arrow-right-circle-fill me-2"></i>Check Balance</a>
     </li>
 
     <li class="nav-item">
       <a class="nav-link text-dark" routerLink="/withdraw"><i class="bi bi-arrow-right-circle-fill me-2"></i>Withdraw</a>
     </li>
 
     <li class="nav-item">
       <a class="nav-link text-dark" routerLink="/moneytransfer"><i class="bi bi-arrow-right-circle-fill me-2"></i>Money Transfer</a>
     </li>
 
     <br><br>
 
     <!-- <li class="nav-item">
       <a class="nav-link text-dark" routerLink="/"><i class="fa-sharp fa-solid fa-right-from-bracket me-2"></i>Log
         out</a>
     </li> -->
 
   </ul>
 
 </div>
 
